In [2]:
import csv
import re

##This function is used to correct the error in the titles of books
def format_headers(header:str) -> str:
    return header.lower().replace("-","_") if header.upper() != "ISBN" else header
def read_csv(filename:str):
    # Open the CSV file using a context manager.
    with open(filename, mode='r', newline='',encoding='latin-1') as csv_file:
    # Create a CSV reader object.
        csv_reader = csv.reader(csv_file,delimiter=";")
        headers = next(csv_reader)  # Lee los encabezados, si es necesario.
        rows = list(csv_reader)  # Lee todas las filas.
    return headers, rows
headers,csv_reader = read_csv("raw/books_data/books.csv")

In [5]:
import pandas as pd
books = pd.read_csv("raw/books_data/books.csv",delimiter=";",encoding="latin-1",on_bad_lines='skip',nrows=100)
ratings = pd.read_csv("raw/books_data/ratings.csv",delimiter=";",encoding="latin-1",on_bad_lines='skip',nrows=100)
users = pd.read_csv("raw/books_data/users.csv",delimiter=";",encoding="latin-1",on_bad_lines='skip')

In [6]:
print(ratings.info())
print(books.info())
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      100 non-null    int64
 1   ISBN         100 non-null    object
 2   Book-Rating  100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 100 non-null    object
 1   Book-Title           100 non-null    object
 2   Book-Author          100 non-null    object
 3   Year-Of-Publication  100 non-null    int64
 4   Publisher            100 non-null    object
 5   Image-URL-S          100 non-null    object
 6   Image-URL-M          100 non-null    object
 7   Image-URL-L          100 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [4]:
users["User-ID"] = range(0,users.shape[0])
users.head()

   User-ID                            Location   Age
0        0                  nyc, new york, usa   NaN
1        1           stockton, california, usa  18.0
2        2     moscow, yukon territory, russia   NaN
3        3           porto, v.n.gaia, portugal  17.0
4        4  farnborough, hants, united kingdom   NaN

In [12]:
def read_csv(filename:str):
	# Open the CSV file using a context manager.
	with open(filename, mode='r', newline='',encoding='latin-1') as csv_file:
	# Create a CSV reader object.
		csv_reader = csv.reader(csv_file,delimiter=";")
		_ = next(csv_reader)  # Skips the headers if any
		rows = list(csv_reader) 
	return rows
def split_location(row:list[str])->list[str]:
	row[1] = row[1].strip().split(",")
	return [item for sublist in row for item in (sublist if isinstance(sublist, list) else [sublist])]
def replace_null(cell:str)->str:
	cell = cell if cell.upper() != "NULL" else 30
	return cell
def format_pk(rows:list[str])->list[str]:
	for i in range(len(rows)):
		rows[i][0] = i
	return rows

#def main():
rows = format_pk(read_csv("./raw/books_data/users.csv"))
for row in list(map(split_location,rows)):
	if len(row) > 5:
		print(row)

[[0, 'nyc', ' new york', ' usa', 'NULL'],
 [1, 'stockton', ' california', ' usa', '18'],
 [2, 'moscow', ' yukon territory', ' russia', 'NULL'],
 [3, 'porto', ' v.n.gaia', ' portugal', '17'],
 [4, 'farnborough', ' hants', ' united kingdom', 'NULL'],
 [5, 'santa monica', ' california', ' usa', '61'],
 [6, 'washington', ' dc', ' usa', 'NULL'],
 [7, 'timmins', ' ontario', ' canada', 'NULL'],
 [8, 'germantown', ' tennessee', ' usa', 'NULL'],
 [9, 'albacete', ' wisconsin', ' spain', '26'],
 [10, 'melbourne', ' victoria', ' australia', '14'],
 [11, 'fort bragg', ' california', ' usa', 'NULL'],
 [12, 'barcelona', ' barcelona', ' spain', '26'],
 [13, 'mediapolis', ' iowa', ' usa', 'NULL'],
 [14, 'calgary', ' alberta', ' canada', 'NULL'],
 [15, 'albuquerque', ' new mexico', ' usa', 'NULL'],
 [16, 'chesapeake', ' virginia', ' usa', 'NULL'],
 [17, 'rio de janeiro', ' rio de janeiro', ' brazil', '25'],
 [18, 'weston', ' ', '', '14'],
 [19, 'langhorne', ' pennsylvania', ' usa', '19'],
 [20, 'ferrol / spain', ' alabama', ' spain', '46'],
 [21, 'erfurt', ' thueringen', ' germany', 'NULL'],
 [22, 'philadelphia', ' pennsylvania', ' usa', 'NULL'],
 [23, 'cologne', ' nrw', ' germany', '19'],
 [24, 'oakland', ' california', ' usa', '55'],
 [25, 'bellevue', ' washington', ' usa', 'NULL'],
 [26, 'chicago', ' illinois', ' usa', '32'],
 [27, 'freiburg', ' baden-wuerttemberg', ' germany', '24'],
 [28, 'cuernavaca', ' alabama', ' mexico', '19'],
 [29, 'anchorage', ' alaska', ' usa', '24'],
 [30, 'shanghai', ' n/a', ' china', '20'],
 [31, 'portland', ' oregon', ' usa', 'NULL'],
 [32, 'costa mesa', ' california', ' usa', '34'],
 [33, 'london', ' england', ' united kingdom', 'NULL'],
 [34, 'grafton', ' wisconsin', ' usa', '17'],
 [35, 'montreal', ' quebec', ' canada', '24'],
 [36, 'san sebastian', ' n/a', ' spain', '23'],
 [37, 'viterbo', ' lazio', ' italy', '34'],
 [38, 'cary', ' north carolina', ' usa', 'NULL'],
 [39, 'tonawanda', ' new york', ' usa', '32'],
 [40, 'santee', ' california', ' usa', '14'],
 [41, 'appleton', ' wisconsin', ' usa', '17'],
 [42, 'méxico', ' méxico city', ' distrito federal', 'NULL'],
 [43, 'black mountain', ' north carolina', ' usa', '51'],
 [44, 'berlin', ' n/a', ' germany', 'NULL'],
 [45, 'heidelberg', ' baden-wuerttemberg', ' germany', '31'],
 [46, 'vicenza', ' veneto', ' italy', '21'],
 [47, 'chicago', ' illinois', ' usa', 'NULL'],
 [48, 'rome', ' rome', ' italy', 'NULL'],
 [49, 'london', ' england', ' united kingdom', '17'],
 [50, 'renton', ' washington', ' usa', '34'],
 [51, 'braunschweig', ' niedersachsen', ' germany', 'NULL'],
 [52, 'tacoma', ' washington', ' usa', 'NULL'],
 [53, 'eubank', ' kentucky', ' usa', '44'],
 [54, 'calgary', ' alberta', ' canada', 'NULL'],
 [55, 'cheyenne', ' wyoming', ' usa', '24'],
 [56, 'roma', ' lazio', ' italy', 'NULL'],
 [57, 'edmonton', ' alberta', ' canada', 'NULL'],
 [58, 'asheville', ' north carolina', ' usa', '23'],
 [59, 'trieste', ' friuli venezia giulia', ' italy', 'NULL'],
 [60, 'winfield', ' alabama', ' usa', '30'],
 [61, 'kennewick', ' washington', ' usa', 'NULL'],
 [62, 'nyack', ' new york', ' usa', '57'],
 [63, 'lyon', ' rhone', ' france', '32'],
 [64, 'n/a', ' n/a', ' australia', 'NULL'],
 [65, 'warman', ' saskatchewan', ' canada', '30'],
 [66, 'framingham', ' massachusetts', ' usa', '43'],
 [67, 'montreal', ' quebec', ' canada', 'NULL'],
 [68, 'vancouver', ' british columbia', ' canada', 'NULL'],
 [69, 'rochester', ' new york', ' usa', '44'],
 [70, 'toronto', ' ontario', ' canada', '24'],
 [71, 'gloucester', ' england', ' united kingdom', '34'],
 [72, 'wentzville', ' missouri', ' usa', 'NULL'],
 [73, 'amsterdam', ' n/a', ' netherlands', '30'],
 [74, 'long beach', ' california', ' usa', '37'],
 [75, 'charleston', ' south carolina', ' usa', 'NULL'],
 [76, 'vancouver', ' british columbia', ' canada', 'NULL'],
 [77, 'oakland', ' california', ' usa', '18'],
 [78, 'ottawa', ' ontario', ' canada', '20'],
 [79, 'etobicoke', ' ontario', ' canada', 'NULL'],
 [80, 'santa cruz', ' california', ' usa', 'NULL'],
 [81, 'del mar', ' california', ' usa', 'NULL'],
 [82, 'eugene', ' oregon', ' usa', 'NULL'],
 [83, 'san diago', ' california', ' usa', 'NULL'],
 [84, 'london', ' england', ' united kingdom', '41'],
 [85, 'los angeles', ' california', ' usa', 'NULL'],
 [86, 'richardson', ' texas', ' usa', 'NULL'],
 [87, 'fayetteville', ' georgia', ' usa', 'NULL'],
 [88, 'plano', ' texas', ' usa', '54'],
 [89, 'powhatan', ' virginia', ' usa', '42'],
 [90, 'toronto/newmarket', ' ', '', 'NULL'],
 [91, 'castellar del valles', ' barcelona', ' spain', '20'],
 [92, 'eden', ' wisconsin', ' usa', '50'],
 [93, 'tehran', ' tehran', ' iraq', '39'],
 [94, 'grand island', ' new york', ' usa', 'NULL'],
 [95, 'helsinki', ' alaska', ' finland', 'NULL'],
 [96, 'mechanicsburg', ' pennsylvania', ' usa', 'NULL'],
 [97, 'pukekohe', ' auckland', ' new zealand', '19'],
 [98, 'franktown', ' colorado', ' usa', '42'],
 [99, 'madrid', ' n/a', ' spain', '44'],
 [100, 'nagpur', ' idaho', ' india', '26'],
 [101, 'barcelona', ' n/a', ' spain', 'NULL'],
 [102, 'litchfield park', ' arizona', ' usa', '53'],
 [103, 'foxboro', ' massachusetts', ' usa', '47'],
 [104, 'hull', ' england', ' united kingdom', '36'],
 [105, 'rome', ' georgia', ' usa', 'NULL'],
 [106, 'lethbridge', ' alberta', ' canada', 'NULL'],
 [107, 'claremore', ' oklahoma', ' usa', 'NULL'],
 [108, 'muncie', ' indiana', ' usa', '20'],
 [109, 'peoira', ' illinois', ' usa', 'NULL'],
 [110, 'avintes', ' v.n. gaia', ' portugal', '25'],
 [111, 'mexico city', ' d.f.', ' mexico', '32'],
 [112, 'san francisco', ' california', ' usa', 'NULL'],
 [113, 'ligonier', ' pennsylvania', ' usa', '57'],
 [114, 'canton', ' ohio', ' usa', 'NULL'],
 [115, 'burien', ' washington', ' usa', 'NULL'],
 [116, 'ann arbor', ' michigan', ' usa', '57'],
 [117, 'kronberg', ' hessen', ' ghana', '28'],
 [118, 'huntington', ' vermont', ' usa', '35'],
 [119, 'villeneuve d`ascq', ' nord', ' france', '13'],
 [120, 'rochester', ' minnesota', ' usa', 'NULL'],
 [121, 'charlotte', ' north carolina', ' usa', 'NULL'],
 [122, 'ann arbor', ' michigan', ' usa', '24'],
 [123, 'papillion', ' nebraska', ' usa', '58'],
 [124, 'lansing', ' michigan', ' usa', '49'],
 [125, 'eindhoven', ' noord-brabant', ' netherlands', '24'],
 [126, 'geneva', ' ge', ' switzerland', '28'],
 [127, 'allison park', ' pennsylvania', ' usa', 'NULL'],
 [128, 'bloomington', ' minnesota', ' usa', '47'],
 [129, 'roma', ' lazio', ' italy', 'NULL'],
 [130, 'chapel hill', ' north carolina', ' usa', 'NULL'],
 [131, 'silver spring', ' maryland', ' usa', '38'],
 [132, 'jacksonville', ' florida', ' usa', '45'],
 [133, 'canberra', ' australian capital territory', ' australia', 'NULL'],
 [134, 'berkshire', ' new york', ' usa', 'NULL'],
 [135, 'sacramento', ' california', ' usa', 'NULL'],
 [136, 'vancouver', ' british columbia', ' canada', 'NULL'],
 [137, 'santa', ' california', ' usa', '28'],
 [138, 'baltimore', ' maryland', ' usa', '35'],
 [139, 'kappelrodeck', ' baden-wuerttemberg', ' germany', '24'],
 [140, 'darien', ' new york', ' usa', 'NULL'],
 [141, 'derby', ' kansas', ' usa', 'NULL'],
 [142, 'san francisco', ' california', ' usa', '26'],
 [143, 'cape girardeau', ' missouri', ' usa', '62'],
 [144, 'inverness', ' scotland', ' united kingdom', 'NULL'],
 [145, 'la', ' california', ' usa', 'NULL'],
 [146, 'west haverstraw', ' new york', ' usa', 'NULL'],
 [147, 'essex', ' england', ' united kingdom', '63'],
 [148, 'ljubljana', ' n/a', ' slovenia', 'NULL'],
 [149, 'mashhad', ' islam', ' iran', '25'],
 [150, 'darwin', ' northern territory', ' australia', 'NULL'],
 [151, 'enschede', ' overijssel', ' netherlands', '26'],
 [152, 'lille', ' nord of france', ' france', '24'],
 [153, 'saskatoon', ' saskatchewan', ' canada', 'NULL'],
 [154, 'lion', ' abruzzo', ' peru', 'NULL'],
 [155, 'sarajevo', ' n/a', ' bosnia and herzegovina', '20'],
 [156, 'legnano', ' lombardia', ' italy', '36'],
 [157, 'nufringen', ' baden-wuerttemberg', ' germany', '38'],
 [158, 'plymouth', ' minnesota', ' usa', 'NULL'],
 [159, 'almada', ' n/a', ' portugal', '20'],
 [160, 'lisboa', ' lisboa', ' portugal', '27'],
 [161, 'newark', ' delaware', ' usa', 'NULL'],
 [162, 'carlsbad', ' california', ' vietnam', 'NULL'],
 [163, 'tuxtla gutierrez', ' chiapas', ' mexico', '33'],
 [164, 'olympia', ' washington', ' usa', '62'],
 [165, 'bacchus marsh', ' victoria', ' australia', '20'],
 [166, 'helena', ' montana', ' usa', 'NULL'],
 [167, 'sunnyvale', ' california', ' usa', '44'],
 [168, 'arlington', ' virginia', ' usa', 'NULL'],
 [169, 'roswell', ' georgia', ' usa', 'NULL'],
 [170, 'itaí', ' são paulo', ' brazil', '29'],
 [171, 'rio de janeiro', ' rio de janeiro', ' brazil', '66'],
 [172, 'ames', ' iowa', ' usa', 'NULL'],
 [173, 'kandy', ' central', ' sri lanka', '31'],
 [174, 'porto', ' n/a', ' portugal', 'NULL'],
 [175, 'london', ' london', ' united kingdom', '34'],
 [176, 'amsterdam', ' n/a', ' netherlands', '46'],
 [177, 'rexford', ' new york', ' usa', '28'],
 [178, 'wazirabad', ' punjab', ' pakistan', 'NULL'],
 [179, 'copenhagen n', ' n/a', ' denmark', 'NULL'],
 [180, 'karachi', ' sindh', ' pakistan', 'NULL'],
 [181, 'buitenpost', ' fryslân', ' netherlands', '36'],
 [182, 'porto', ' porto', ' portugal', '27'],
 [183, 'seattle', ' washington', ' usa', 'NULL'],
 [184, 'baton rouge', ' louisiana', ' usa', '17'],
 [185, 'jacksonville', ' north carolina', ' usa', 'NULL'],
 [186, 'mcas futenma fpo ap okinawa', ' n/a', ' usa', '29'],
 [187, 'portland', ' oregon', ' usa', '17'],
 [188, 'blankenberge', ' n/a', ' belgium', '31'],
 [189, 'wezembeek-oppem', ' brussels', ' belgium', '33'],
 [190, 'berlin', ' berlin', ' germany', '40'],
 [191, 'sunnyvale', ' california', ' usa', 'NULL'],
 [192, 'mumbai', ' maharashtra', ' india', '23'],
 [193, 'lake forest', ' illinois', ' usa', 'NULL'],
 [194, 'chandler', ' arizona', ' usa', '23'],
 [195, 'subang jaya', ' selangor darul ehsan', ' malaysia', '33'],
 [196, 'brantford', ' ontario', ' canada', 'NULL'],
 [197, 'augsburg', ' bayern', ' germany', '21'],
 [198, 'austin', ' texas', ' usa', '38'],
 [199, 'aberdeen', ' scotland', ' united kingdom', '27'],
 [200, 'sharjah', ' sharjah', ' u.a.e', 'NULL'],
 [201, 'ottawa', ' ontario', ' canada', '28'],
 [202, 'charleston', ' south carolina', ' usa', 'NULL'],
 [203, 'turner', ' oregon', ' usa', '15'],
 [204, 'istanbul', ' victoria', ' turkey', '23'],
 [205, 'versailles', ' ile de france', ' france', '60'],
 [206, 'west bend', ' wisconsin', ' usa', 'NULL'],
 [207, 'bremen', ' bremen', ' germany', 'NULL'],
 [208, 'pj', ' selangor', ' malaysia', '21'],
 [209, 'albany', ' new york', ' usa', '54'],
 [210, 'lleida', ' lleida', ' spain', '21'],
 [211, 'manila', ' n/a', ' philippines', '21'],
 [212, 'gainesville', ' florida', ' usa', 'NULL'],
 [213, 'longmont', ' colorado', ' usa', '27'],
 [214, 'port alberni', ' british columbia', ' canada', '20'],
 [215, 'barcelona', ' georgia', ' spain', '42'],
 [216, 'spencer', ' massachusetts', ' usa', 'NULL'],
 [217, 'hyderabad', ' alabama', ' india', '41'],
 [218, 'bismark', ' sachsen-anhalt', ' greece', 'NULL'],
 [219, 'bogota', ' bogota', ' colombia', '0'],
 [220, 'palm beach', ' florida', ' usa', '79'],
 [221, 'kingston', ' massachusetts', ' usa', 'NULL'],
 [222, 'wazirabad', ' punjab', ' pakistan', 'NULL'],
 [223, 'strafford', ' missouri', ' usa', 'NULL'],
 [224, 'elgin', ' texas', ' usa', 'NULL'],
 [225, 'new york', ' new york', ' usa', 'NULL'],
 [226, 'high wycombe', ' bucks', ' united kingdom', 'NULL'],
 [227, 'ann arbor', ' michigan', ' usa', '41'],
 [228, 'delhi', ' delhi', ' india', '22'],
 [229, 'ny', ' new york', ' usa', 'NULL'],
 [230, 'mumbai', ' maharashtra', ' india', 'NULL'],
 [231, 'mumbai', ' maharashtra', ' india', '16'],
 [232, 'tampere', ' pirkanmaa', ' finland', 'NULL'],
 [233, 'joensuu', ' n/a', ' finland', '25'],
 [234, 'oeiras', ' lisboa', ' portugal', '22'],
 [235, 's. pasadena', ' california', ' usa', 'NULL'],
 [236, 'plymouth', ' minnesota', ' usa', '27'],
 [237, 'guildford', ' surrey', ' united kingdom', '23'],
 [238, 'fort worth', ' texas', ' usa', 'NULL'],
 [239, 'brisbane', ' queensland', ' australia', '20'],
 [240, 'auburn', ' alabama', ' usa', 'NULL'],
 [241, 'neuffen', ' baden-wuerttemberg', ' germany', '37'],
 [242, 'arden hills', ' minnesota', ' usa', 'NULL'],
 [243, 'college station', ' texas', ' usa', 'NULL'],
 [244, 'lajolla', ' california', ' usa', '31'],
 [245, 'tananger', ' rogaland', ' norway', '16'],
 [246, 'zografou', ' athens', ' greece', '23'],
 [247, 'chilliwack', ' british columbia', ' canada', '15'],
 [248, 'amsterdam', ' noord-holland', ' netherlands', '29'],
 [249, 'minneapolis', ' minnesota', ' usa', '25'],
 [250, 'valladolid', ' castilla y león', ' spain', '54'],
 [251, '13001 safat', ' kuwait', ' kuwait', '65'],
 [252, 'milano', ' lombardia', ' italy', '28'],
 [253, 'minneapolis', ' minnesota', ' usa', '24'],
 [254, 'antofagasta', ' alabama', ' chile', '32'],
 [255, 'boston', ' massachusetts', ' usa', 'NULL'],
 [256, 'quit', ' quit', ' quit', 'NULL'],
 [257, 'ljk', ' lkj', ' lj', 'NULL'],
 [258, 'jacksonville', ' north carolina', ' usa', '45'],
 [259, 'chisholm', ' minnesota', ' usa', '51'],
 [260, 'lonsee', ' baden-wuerttemberg', ' germany', '45'],
 [261, 'rockford', ' illinois', ' usa', '28'],
 [262, 'houston', ' texas', ' usa', 'NULL'],
 [263, 'taipei', ' n/a', ' taiwan', '23'],
 [264, 'tianjin', ' n/a', ' china', '24'],
 [265, 'kalgary', ' alberta', ' canada', 'NULL'],
 [266, 'cleveland', ' ohio', ' usa', '29'],
 [267, 'århus', ' \\n/a\\"', ' denmark"', 'NULL'],
 [268, 'aarhus', ' jylland', ' denmark', 'NULL'],
 [269, 'tawern', ' rheinland-pfalz', ' germany', 'NULL'],
 [270, 'karachi', ' pakistan', ' pakistan', '22'],
 [271, 'walla walla', ' washington', ' usa', '20'],
 [272, 'snohomish', ' washington', ' usa', 'NULL'],
 [273, 'bologna', ' emilia romagna', ' italy', '26'],
 [274, 'calgary', ' alberta', ' canada', 'NULL'],
 [275, 'hillsboro', ' oregon', ' usa', 'NULL'],
 [276, 'dubbo', ' new south wales', ' australia', '15'],
 [277, 'chicago', ' illinois', ' usa', '21'],
 [278, 'berkshire', ' england', ' united kingdom', 'NULL'],
 [279, 'yakima', ' washington', ' usa', 'NULL'],
 [280, 'dresden', ' sachsen', ' germany', '31'],
 [281, 'victoria', ' british columbia', ' canada', 'NULL'],
 [282, 'gig harbor', ' washington', ' usa', 'NULL'],
 [283, 'barcelona', ' barcelona', ' spain', '35'],
 [284, 'cambridge', ' cambridgeshire', ' united kingdom', 'NULL'],
 [285, 'seattle', ' washington', ' usa', '17'],
 [286, 'gardena', ' california', ' usa', 'NULL'],
 [287, 'hallowell', ' maine', ' usa', '19'],
 [288, 'tampa', ' florida', ' usa', '15'],
 [289, 'ravenna', ' ohio', ' usa', 'NULL'],
 [290, 'ft. collins', ' colorado', ' usa', 'NULL'],
 [291, 'tucson', ' arizona', ' usa', '22'],
 [292, 'winnipeg', ' manitoba', ' canada', '25'],
 [293, 'poway', ' california', ' usa', 'NULL'],
 [294, 'lanham', ' maryland', ' usa', '28'],
 [295, 'lleida', ' lleida', ' spain', '21'],
 [296, 'daly city', ' california', ' usa', '27'],
 [297, 'oakland', ' california', ' usa', 'NULL'],
 [298, 'paris', ' paris', ' france', '42'],
 [299, 'newport news', ' virginia', ' usa', 'NULL'],
 [300, 'walled lake', ' michigan', ' usa', '32'],
 [301, 'capitola', ' california', ' usa', '53'],
 [302, 'poway', ' california', ' usa', 'NULL'],
 [303, 'kailua', ' hawaii', ' usa', '24'],
 [304, 'poway', ' california', ' usa', 'NULL'],
 [305, 'boston', ' massachusetts', ' usa', 'NULL'],
 [306, 'koski', ' uusimaa', ' finland', '27'],
 [307, 'getxo', ' yukon territory', ' españa', '53'],
 [308, 'london', ' england', ' united kingdom', '30'],
 [309, 'barcelona', ' n/a', ' spain', '26'],
 [310, 'ridderkerk', ' n/a', ' netherlands', '34'],
 [311, 'lk', ' jlk', '', 'NULL'],
 [312, 'rutherford', ' new jersey', ' usa', 'NULL'],
 [313, 'århus', ' n/a', ' denmark', '28'],
 [314, 'stockholm', ' stockholm', ' sweden', 'NULL'],
 [315, 'kyle', ' saskatchewan', ' canada', '23'],
 [316, 'tyner', ' north carolina', ' usa', '41'],
 [317, 'berlin', ' n/a', '', 'NULL'],
 [318, '1407 københavn k', ' n/a', ' denmark', '32'],
 [319, 'minneapolis', ' minnesota', ' usa', '37'],
 [320, 'liaquat pur', ' punjab', ' pakistan', '24'],
 [321, 'bergen', ' yukon territory', ' norway', 'NULL'],
 [322, 'seattle', ' washington', ' usa', '23'],
 [323, 'valencia', ' bukidnon', ' philippines', 'NULL'],
 [324, 'zürich', ' mittelland', ' switzerland', 'NULL'],
 [325, 'parkville', ' missouri', ' usa', 'NULL'],
 [326, 'dallas', ' texas', ' usa', 'NULL'],
 [327, 'moscow', ' idaho', ' usa', '33'],
 [328, 'sanghar', ' sindh', ' pakistan', '21'],
 [329, 'quezon city', ' n/a', ' philippines', 'NULL'],
 [330, 'buenos aires', ' buenos aires', ' argentina', '60'],
 [331, 'lake oswego', ' oregon', ' usa', '59'],
 [332, 'barcelona', ' alberta', ' spain', '23'],
 [333, 'jyväskylä', ' n/a', ' finland', '27'],
 [334, 'modena', ' emilia romagna', ' italy', '27'],
 [335, 'bilbao', ' vizcaya', ' spain', '27'],
 [336, 'málaga', ' n/a', ' spain', '17'],
 [337, 'minneapolis', ' minnesota', ' usa', 'NULL'],
 [338, 'tampere', ' pirkanmaa', ' finland', '20'],
 [339, 'cebu', ' cebu', ' philippines', '15'],
 [340, 'ormesson', ' ile de france', ' france', '50'],
 [341, 'sokoto', ' niedersachsen', ' nigeria', '28'],
 [342, 'mesa', ' arizona', ' usa', 'NULL'],
 [343, 'leicester', ' england', ' united kingdom', '25'],
 [344, 'columbia', ' tennessee', ' usa', '27'],
 [345, 'montreal', ' quebec', ' canada', '29'],
 [346, 'montreal', ' quebec', ' canada', '34'],
 [347, 'berkeley', ' california', ' usa', 'NULL'],
 [348, 'sønderborg', ' n/a', ' denmark', 'NULL'],
 [349, 'siena', ' toscana', ' italy', 'NULL'],
 [350, 'ankara', ' turkey', ' turkey', 'NULL'],
 [351, 'windsor', ' connecticut', ' usa', '28'],
 [352, 'madrid', ' n/a', ' spain', '41'],
 [353, 'belo horizonte', ' minas gerais', ' brazil', 'NULL'],
 [354, 'london', ' uk', ' london', 'NULL'],
 [355, 'leesburg', ' virginia', ' usa', 'NULL'],
 [356, 'newcastle upon  tyne', ' england', ' united kingdom', '29'],
 [357, 'burbank', ' california', ' usa', 'NULL'],
 [358, 'springville', ' california', ' usa', 'NULL'],
 [359, 'barcelona', ' barcelona', ' spain', '33'],
 [360, 'premià de dalt', ' barcelona', ' spain', '25'],
 [361, 'thunder bay', ' ontario', ' canada', '63'],
 [362, 'uhingen', ' baden-wuerttemberg', ' germany', 'NULL'],
 [363, 'aveiro', ' beira litoral', ' portugal', 'NULL'],
 [364, 'milano', ' europe', ' italy', 'NULL'],
 [365, 'sofia', ' alberta', ' bulgaria', 'NULL'],
 [366, 'culver city', ' california', ' usa', '45'],
 [367, 'west point', ' virginia', ' usa', '35'],
 [368, 'lenexa', ' kansas', ' usa', 'NULL'],
 [369, 'sacramento', ' california', ' usa', 'NULL'],
 [370, 'los barriles', ' b.c.s.', ' mexico', 'NULL'],
 [371, 'bamberg', ' bayern', ' germany', '22'],
 [372, 'vienna', ' vienna', ' austria', 'NULL'],
 [373, 'braunschweig', ' niedersachsen', ' germany', '45'],
 [374, 'leipzig', ' sachsen', ' germany', '28'],
 [375, 'fishers', ' indiana', ' usa', '35'],
 [376, 'kuala lumpur', ' klang', ' malaysia', 'NULL'],
 [377, 'nice', ' california', ' usa', '57'],
 [378, 'vancouver', ' british columbia', ' canada', '47'],
 [379, 'amarillo', ' texas', ' usa', 'NULL'],
 [380, 'fort lauderdale', ' florida', ' usa', 'NULL'],
 [381, 'kansas city', ' kansas', ' usa', 'NULL'],
 [382, 'carmichael', ' california', ' usa', 'NULL'],
 [383, 'bucuresti', ' n/a', ' romania', '23'],
 [384, 'paris', ' n/a', ' france', 'NULL'],
 [385, 'karaj', ' tehran', ' iran', '20'],
 [386, 'charity', ' missouri', ' usa', '17'],
 [387, 'nashville', ' tennessee', ' usa', '35'],
 [388, 'barcelona', ' catalunya', ' spain', '22'],
 [389, 'chapmanville', ' west virginia', ' usa', '48'],
 [390, 'waco', ' texas', ' usa', 'NULL'],
 [391, 'barcelona', ' catalunya', ' spain', '44'],
 [392, 'brighton', ' east sussex', ' united kingdom', '24'],
 [393, 'lonodn', ' calabria', ' united kingdom', '25'],
 [394, 'madrid', ' n/a', ' spain', '24'],
 [395, 'jakobsberg', ' stockholm', ' sweden', 'NULL'],

In [6]:
#Just to keep the columns names consistent with SQL good practices.
books.columns = list(map(lambda x:x.lower(),books.columns))
print(f"We have {books.shape[0]} rows in this dataset")
books.head()

We have 100 rows in this dataset

,isbn,book-title,book-author,year-of-publication,publisher,image-url-s,image-url-m,image-url-l
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

## Author db

In [59]:
#Extract the author name into a series 
author_df = pd.DataFrame()
author_df["author"] = rd["author"].unique()
print(f"We have {author_df.shape[0]} authors in this dataset")
author_df[["last_name","name"]] = author_df["author"].str.split(", ",expand=True)
author_df["id_author"] = author_df.index
author_tosql = author_df.drop(columns="author")

author_tosql.head(1)

We have 130 authors in this dataset

  last_name     name  id_author
0   Goswami  Jaideva          0

In [60]:
#Generate and id column for the author
author_tosql["id_author"] = author_tosql.index
print(author_tosql.tail(4))

    last_name     name  id_author
126   Rowling      J K        126
127   Larsson    Steig        127
128    Eddins    Steve        128
129   Dickens  Charles        129

### Connect to SQL and charge the values to the database

In [61]:
#host='localhost', user='root',password='micolash12',database="bookstore"
from sqlalchemy import create_engine
#Create the database connection
engine = create_engine('mysql+pymysql://root:micolash12@localhost/bookstore')
#Use the built-in function 'to_sql' to write the dataframe to the database
author_tosql.to_sql('author', engine, if_exists='replace', index = False)

130

## Books db

In [62]:
#Copy the df to a book related to preserve the original
book_df = rd.copy()
#Add the id_author foreign key to the book
#replace all the occurences of the author for the value in the author dataframe
book_df['id_author'] = book_df['author'].map(author_df.set_index('author')['id_author'])

                      title            author              genre  height  \
0  Fundamentals of Wavelets  Goswami, Jaideva  signal_processing     228
1                Data Smart     Foreman, John       data_science     235

  publisher
0     Wiley
1     Wiley

,title,author,genre,height,publisher,id_author
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley,0
1,Data Smart,"Foreman, John",data_science,235,Wiley,1

In [63]:
#Now drop the author dataframe for avoiding to much information
book_df = book_df.drop(columns=["author"])
book_df

,title,genre,height,publisher,id_author
0,Fundamentals of Wavelets,signal_processing,228,Wiley,0
1,Data Smart,data_science,235,Wiley,1
2,God Created the Integers,mathematics,197,Penguin,2
3,Superfreakonomics,economics,179,HarperCollins,3
4,Orientalism,history,197,Penguin,4
...,...,...,...,...,...
206,Structure and Randomness,mathematics,252,NaN,21
207,Image Processing with MATLAB,signal_processing,241,NaN,128
208,Animal Farm,fiction,180,NaN,80
209,"Idiot, The",fiction,197,NaN,58
210,"Christmas Carol, A",fiction,196,NaN,129

In [64]:
#host='localhost', user='root',password='micolash12',database="bookstore"
from sqlalchemy import create_engine
#Create the database connection
engine = create_engine('mysql+pymysql://root:micolash12@localhost/bookstore')
#Use the built-in function 'to_sql' to write the dataframe to the database
book_df.to_sql('book', engine, if_exists='replace', index = True) #Review this line, the index is just numerical.

211